<h1>Datos de entrada</h1>

<p>
    Dato de entrada de tipo texto
    <label>Nombre : </label>
    <input type="text" placeholder="Nombre"/>
</p>

<p>
    Dato de entrada de tipo password
    <label>Contraseña :</label>
    <input type="password" placeholder="Contraseña"/>
</p>

<p>Dato de entrad de tipo numerico
    <label>Edad :</label>
    <input type="number" placeholder="Edad"/>
</p>

<p>
    Caja de verificación 
    <label>Está de acuerdo con nuestra politica de privacidad </label>
    <input type="checkbox"/>
</p>

<p>Radio Boton
    <label>Genero : </label>
    <input type="radio" name="genero" value="M" /> Mujer
    <input type="radio" name="genero" value="H"/> Hombre
</p>

<p>
    Boton 
    <input type="button" value="Haz clic al boton" disabled="false">
</p>

<p>
    Boton submit
    <input type="submit" value="Enviar la informción"/>
</p>

<p>
    Cuadro combinado -> Valor controlado 
    <label >Estudios: </label>
    <select>
        <option value="ESO" >Educacion Secundaria Obligatorios</option>
        <option value="FP" selected>Formacion Profesional</option>
        <option value="L">Lincentura</option>
        <option value="M">Master</option>
        <option value="D">Doctorado</option>
    </select>
    xxx
</p>