
<h1> Datos de compra </h1>
<!-- comienza la tabla -->
<table >
<tr>
	<td>
		Correo electronico:
	</td>
	<td>
		<input type="text" placeholder="Escriba su correo electronico"/>
	</td>
</tr>
<tr>
	<td>
		Direccion:
	</td>
	<td>
		<textarea rows="3" cols="25" placeholder="Escriba sus comentarios"></textarea>
	</td>
</tr>
<tr>
	<td>
		Telefono:
	</td>
	<td>
		<input type="text" placeholder="Escriba su telefono"/>
	</td>
</tr>
<tr>
	<td>
		Comunidad:
	</td>
	<td>
		<select>
			<option value="Madrid" >madrid</option>
			<option value="Valencia" >Valencia</option>
			<option value="Galicia" >Galicia</option>
		</select>
	</td>
</tr>
<tr>
	<td rowspan="3">Forma de Pago:
	</td>
	<td>Efectivo:<input name="fp" type="radio" value="E" checked/>
	</td>
	
</tr>
<tr>
	<td>
		Tarjeta:<input name="fp" type="radio" value="T" />
	</td>
</tr>
<tr>
	<td>
		Contra-reembolso:<input name="fp" type="radio" value="C" />
	</td>
</tr>
<tr>
	<td colspan="2">
		<input type="checkbox" value="E" />Acepta recibir informacion de nuestros productos
	</td>
</tr>
<tr>
	<td>
		<input type="submit" value="Enviar" />
	</td>
	<td>
	</td>
</tr>
</table>
